@model CPF_CACL.GestaoSocio.Aplication.ViewModel.SocioViewModel

@{
    ViewData["Title"] = "Criar Sócio";
}

<div id="loading-overlay" style="display: none;">
    <div id="loading-circle">
        <i class="fas fa-circle-notch fa-spin"></i> Carregando...
    </div>
</div>

<div class="pd-ltr-20">
    <div class="min-height-200px">

        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>Registo de Sócios</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Criar novo Sócio</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 " style="padding-right: 0px !important; margin-bottom: 5px; padding-left: 0 !important;">
            <div class="card-box height-100-p overflow-hidden">
                <div class="profile-tab height-100-p">
                    <div class="tab height-100-p">
                        <ul class="nav nav-tabs customtab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link cabecalho-sessao" data-toggle="tab" href="#dadospessoais" role="tab" aria-selected="true">DADOS PESSOAIS</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="dadospessoais" role="tabpanel">
                                <div class="pd-20">
                                    <div class="container pd-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 espaco-input">
                                                <label asp-for="Nome" class="control-label required"> Nome Completo </label>
                                                <input asp-for="Nome" id="Nome" class="form-control required" data-val-required="" />
                                                <span asp-validation-for="Nome" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-3 espaco-input">
                                                <label asp-for="BI" class="control-label">Nº do Bilhete </label>
                                                <input asp-for="BI" id="BI" class="form-control" />
                                                <span asp-validation-for="BI" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-3 espaco-input">
                                                <label asp-for="Genero" class="control-label required"> Genero </label>
                                                <select asp-for="Genero" id="Genero" class="form-control" data-val-required="">
                                                    <option>Feminino</option>
                                                    <option>Masculino</option>
                                                </select>
                                                <span asp-validation-for="Genero" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-3 espaco-input">
                                                <label asp-for="DataNascimento" class="control-label required"> Data de Nascimento </label>
                                                <input type="date" asp-for="DataNascimento" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="DataNascimento" class="form-control" data-val-required="" />
                                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-3 espaco-input">
                                                <label asp-for="EstadoCivil" class="control-label required"> Estado Civil </label>
                                                <select asp-for="EstadoCivil" id="EstadoCivil" class="form-control" data-val-required="">
                                                    <option>Solteiro</option>
                                                    <option>Casado</option>
                                                    <option>Viuvo</option>
                                                    <option>Divorciado</option>
                                                </select>
                                                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-3 espaco-input">
                                                <label asp-for="Habilitacoes" class="control-label required"> Habilitações </label>
                                                <select asp-for="Habilitacoes" id="Habilitacoes" class="form-control">
                                                    <option>Técnico Base</option>
                                                    <option>Técnico Médio</option>
                                                    <option>Lecenciado</option>
                                                    <option>Mestre</option>
                                                    <option>Doutor</option>
                                                </select>
                                                <span asp-validation-for="Habilitacoes" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-3 espaco-input">
                                                <label asp-for="Nacionalidade" class="control-label required"> Nacionalidade </label>
                                                <input asp-for="Nacionalidade" id="Nacionalidade" class="form-control" data-val-required="" />
                                                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 espaco-input">
                                                <label asp-for="Profissao" class="control-label"> Profissão </label>
                                                <input asp-for="Profissao" id="Profissao" class="form-control" />
                                                <span asp-validation-for="Profissao" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 espaco-input">
                                                <label asp-for="Foto" name="Foto" class="control-label imagem-upload">Adicionar Foto </label>
                                                <input asp-for="Foto" type="file" accept=".jpg, .jpeg, .png" id="Foto" class="form-control btn-file" />
                                            </div>
                         @*                    <div class="form-group col-12 col-sm-6 col-md-6 espaco-input">
                                                <label for="exampleInputFile">Foto</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" accept=".jpeg, .jpg, .png" class="custom-file-input" id="exampleInputFile">
                                                        <label class="custom-file-label" for="exampleInputFile">Escolha uma foto</label>
                                                    </div>
                                                </div>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 " style=" margin-bottom: 5px; padding-right: 0px !important; padding-left: 0 !important;">
            <div class="card-box height-100-p overflow-hidden" style="border-radius: 0px !important;">
                <div class="profile-tab height-100-p">
                    <div class="tab height-100-p">
                        <ul class="nav nav-tabs customtab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link cabecalho-sessao" data-toggle="tab" href="#filiacao" role="tab" aria-selected="true">FILLHAÇÃO</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="filiacao" role="tabpanel">
                                <div class="pd-20">
                                    <div class="container pd-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 espaco-input">
                                                <label asp-for="NomeDoPai" class="control-label"> Nome do Pai </label>
                                                <input asp-for="NomeDoPai" id="NomeDoPai" class="form-control" />
                                                <span asp-validation-for="NomeDoPai" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 espaco-input">
                                                <label asp-for="NomeDaMae" class="control-label"> Nome da Mãe </label>
                                                <input asp-for="NomeDaMae" id="NomeDaMae" class="form-control" />
                                                <span asp-validation-for="NomeDaMae" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 " style=" margin-bottom: 5px; padding-right: 0px !important; padding-left: 0 !important;">
            <div class="card-box height-100-p overflow-hidden" style="border-radius: 0px !important;">
                <div class="profile-tab height-100-p">
                    <div class="tab height-100-p">
                        <ul class="nav nav-tabs customtab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link cabecalho-sessao" data-toggle="tab" href="#contacos" role="tab" aria-selected="true">DADOS DE CONTACTO</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="contactos" role="tabpanel">
                                <div class="pd-20">
                                    <div class="container pd-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-4 espaco-input">
                                                <label asp-for="Telefone" class="control-label required"> Telefone </label>
                                                <input asp-for="Telefone" id="Telefone" class="form-control" data-val-required="" />
                                                <span asp-validation-for="Telefone" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 espaco-input">
                                                <label asp-for="Email" class="control-label"> Email </label>
                                                <input type="email" asp-for="Email" id="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>

                                            <!---->

                                            <div class="col-12 col-sm-6 col-md-4 espaco-input">
                                                <label class="control-label"> Munuicipio </label>
                                                <select id="municipio" class="form-control">
                                                    <option>..Selecione um Município..</option>
                                                    @foreach (var item in ViewBag.Municipios)
                                                    {
                                                        <option value="@item.Id">@item.Nome</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 espaco-input">
                                                <label asp-for="BairroId" class="control-label required"> Bairro </label>
                                                <select asp-for="BairroId" id="bairro" class="form-control">
                                                    <option>..Selecione um Bairro..</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-8 espaco-input">
                                                <label asp-for="Endereco" class="control-label"> Endereço </label>
                                                <input asp-for="Endereco" id="Endereco" class="form-control" placeholder="Ex: Casa nº 100, Rua 10..." />
                                                <span asp-validation-for="Endereco" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 " style=" margin-bottom: 5px; border-radius: 0 !important; padding-right: 0px !important; padding-left: 0 !important;">
            <div class="card-box height-100-p overflow-hidden" style="border-radius: 0px !important;">
                <div class="profile-tab height-100-p">
                    <div class="tab height-100-p">
                        <ul class="nav nav-tabs customtab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link cabecalho-sessao" data-toggle="tab" href="#dadosprofissionais" role="tab" aria-selected="true">DADOS PROFISSIONAIS</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="dadosprofissionais" role="tabpanel">
                                <div class="pd-20">
                                    <div class="container pd-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-4 espaco-input">
                                                <label asp-for="OrganismoId" class="control-label required">Organismo</label>
                                                <select asp-for="OrganismoId" id="organismo" class="form-control">
                                                    <option>..Selecione um Organismo..</option>
                                                    @foreach (var item in ViewBag.Organismo)
                                                    {
                                                        <option value="@item.Id">@item.Nome</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="Organismo" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 espaco-input">
                                                <label asp-for="Departamento" class="control-label"> Departamento </label>
                                                <input asp-for="Departamento" id="Departamento" class="form-control" />
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4  espaco-input">
                                                <label asp-for="Funcao" class="control-label"> Função </label>
                                                <input asp-for="Funcao" id="Funcao" class="form-control" />
                                                <span asp-validation-for="Funcao" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-12 espaco-input">
                                                <label asp-for="LocalDeTrabalho" class="control-label"> Local de Trabalho</label>
                                                <input asp-for="LocalDeTrabalho" id="LocalDeTrabalho" class="form-control" />
                                                <span asp-validation-for="LocalDeTrabalho" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 " style="  margin-bottom: 5px; border-radius: 0 !important; padding-right: 0px !important; padding-left: 0 !important;">
            <div class="card-box height-100-p overflow-hidden" style="border-radius: 0px !important;">
                <div class="profile-tab height-100-p">
                    <div class="tab height-100-p">
                        <ul class="nav nav-tabs customtab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link cabecalho-sessao" data-toggle="tab" href="#categoria" role="tab" aria-selected="true">CATEGORIA</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="categoria" role="tabpanel">
                                <div class="pd-20">
                                    <div class="container pd-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 espaco-input">
                                                <label asp-for="CategoriaSocioId" class="control-label required">Categoria do Sócio</label>
                                                <select asp-for="CategoriaSocioId" id="Categoria" class="form-control" data-val-required="">
                                                    <option value="">..Selecione uma Categoria..</option>
                                                    @foreach (var item in ViewBag.Categoria)
                                                    {
                                                        <option value="@item.Id">@item.Nome</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row espaco">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group col-12 col-sm-4 col-md-4">
                                <input type="hidden" value="Ativo" id="EstoDoSocio" asp-for="EstadoSocio">
                            </div>

                            <div class="form-group">
                                <input type="hidden" value="@DateTime.Now" id="DataCriacao" asp-for="DataCriacao">
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="true" id="Status" asp-for="Status">
                            </div>

                            <div class="form-group">
                                <button type="button" onclick="AdicionarSocio()" class="btn btn-success">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Botão para ir ao topo da Página-->

<button id="irAoTopoBtn" title="Ir ao Topo""><i class="fas fa-arrow-circle-up"></i></button>


<!--Para abrir o Modal-->
<div id="modalContainer"></div>

<!---------Modal para Adicionar Agregado--------------->

<div class="modal fade" id="adicionarAgregado" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cabecalhoModalAdicionarAgregado">CADASTRAR AGREGADO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="modalContent">
                <form>

                    <input asp-for="SocioId" type="hidden" id="SocioId" name="SocioId" />

                    <div class="form-group">
                        <label for="RelacaoId" class="control-label">RELAÇÃO:</label>
                        <select  id="relacaoAgregado" class="form-control">

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="nomeAgregado" class="control-label">NOME COMPLETO:</label>
                        <input id="nomeAgregado" name="nomeAgregado" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="biAgregado" class="control-label">BI</label>
                        <input asp-for="BI" id="biAgregado" name="biAgregado" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="generoAgregado" class="control-label">GÉNERO:</label>
                        <select asp-for="Genero" for="Genero" id="generoAgregado" class="form-control" data-val-required="">
                            <option>Feminino</option>
                            <option>Masculino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dataNascimentoAgregado" class="control-label required"> DATA DE NASCIMENTO: </label>
                        <input asp-for="DataNascimento" type="date" for="dataNascimentoAgregado" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="dataNascimentoAgregado" class="form-control" data-val-required="" />
                    </div>
                    <div class="form-group">
                        <label for="nacionalidadeAgregado" class="control-label">NACIONALIDADE:</label>
                        <input asp-for="Nacionalidade" id="nacionalidadeAgregado" name="nacionalidadeAgregado" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input asp-for="DataCriacao" type="hidden" id="dataCriacaoAgregado" value="@DateTime.Now" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input asp-for="DataAtualizacao" type="hidden" id="dataAtualizacaoAgregado" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input asp-for="Status" type="hidden" id="statusAgregado" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="AdicionarAgregado()" class="btn btn-success waves-effect">Salvar</button>
                <button type="button" class="btn btn-link waves-effect" asp-controller="Socio" asp-action="Index">Cancelar</button>
            </div>
        </div>
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
