@model CPF_CACL.GestaoSocio.Aplication.ViewModel.SocioViewModel

<div id="loading-overlay" style="display: none;">
	<div id="loading-circle">
		<i class="fas fa-circle-notch fa-spin"></i> Carregando...
	</div>
</div>


<!--Para abrir o Modal-->
<div id="modalContainer"></div>

<!--Para abrir o Modal de Add Agregado-->
<div id="modalContainer"></div>

<div class="pd-ltr-20">
	<div class="min-height-200px">
		<div class="page-header">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="title">
						<h4>Sócios</h4>
					</div>
					<nav aria-label="breadcrumb" role="navigation">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
							<li class="breadcrumb-item"><a href="/Socio/Index">Sócios</a></li>
							<li class="breadcrumb-item active" aria-current="page">Detalhe do sócio</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
				<div class="pd-20 card-box height-100-p">
					<div class="profile-photo testev">
						<a href="modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i class="dw dw-pencil"></i></a>
						<img src="~/@Model.CaminhoFoto" alt="Foto do Sócio" class="avatar-photo imagem-perfil">
						<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="display: none;">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-body pd-5">
										<div class="img-container">
											<img id="image" src="~/@Model.CaminhoFoto" alt="Picture" class="">
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" value="Update" class="btn btn-primary">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h5 class="text-center h5 mb-0">@Model.Nome</h5>
					<p class="text-center text-muted font-14">@Model.Genero</p>
					<p class="text-center text-muted font-14">@Model.EstadoSocio</p>
					<p class="text-center text-bold font-18">@Model.Codigo</p>
					<div class="profile-info">
						<h5 class="mb-20 h5 text-blue">Contacto</h5>
						<ul>
							<li>
								<span>Email:</span>
								@Model.Email
							</li>
							<li>
								<span>Telefone:</span>
								@Model.Telefone
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--.......................-->

			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
				<div class="card-box height-100-p overflow-hidden card-primary card-tabs">
					<div class="card-header p-0 pt-1">
						<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="custom-tabs-one-informacoes-tab" data-toggle="pill" href="#custom-tabs-one-informacoes" role="tab" aria-controls="custom-tabs-one-informacoes" aria-selected="true">Informação</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="custom-tabs-one-financeira-tab" data-toggle="pill" href="#custom-tabs-one-financeira" role="tab" aria-controls="custom-tabs-one-financeira" aria-selected="false">Área Financeira</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Área Administrativa</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Configurações</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="custom-tabs-one-tabContent">
							<!--Informacoes-->
							<div class="tab-pane fade show active" id="custom-tabs-one-informacoes" role="tabpanel" aria-labelledby="custom-tabs-one-informacoes-tab">
								<a class="btn btn-app bg-info" href="#" onclick="abrirModalAgregado('@Model.Id')" data-toggle="modal" data-target="#adicionarAgregado">
									<i class="fas fa-group"></i> Adicionar Agregado
								</a>

								<div class="">
									<div class="card-header">
									</div>
									<div class="card-body">
										<table class="table table-bordered stripe">
											<thead>
												<tr>
													<td colspan="4" class="text-center text-bold bg-cyan">AGREGADO</td>
												</tr>
												<tr>
													<th class="text-left">Nome</th>
													<th class="text-left">Relação</th>
													<th class="text-left">Gênero</th>
													<th class="text-left">Data de Nascimento</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var itens in ViewBag.Agregado)
												{
													<tr role="row" class="">
														<td class="text-left">@itens.Nome</td>
														<td class="text-left">@itens.NomeRelacao</td>
														<td class="text-left">@itens.Genero</td>
														<td class="text-left">@itens.DataNascimento.ToString("dd/MM/yyyy")</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>


							
							</div>

							<div class="">
								<input type="hidden" id="SocioId" value="@Model.Id">
							</div>

							<!--Área Financeira-->

							<div class="tab-pane fade" id="custom-tabs-one-financeira" role="tabpanel" aria-labelledby="custom-tabs-one-financeira-tab">
								<a class="btn btn-app bg-primary" href="#" onclick="abrirModalPagamento('@Model.Id')" data-toggle="modal" data-target="#modalPagamento">
									<i class="fas fa-money-bill-wave"></i> Adicionar Pagamento
								</a>

								<a class="btn btn-app bg-info" href="@Url.Action("Efectuar-Pagamento","Pagamento", new {id = @Model.Id})" >
									<i class="fas fa-credit-card"></i> Efectuar Pagamento
								</a>

								<a class="btn btn-app bg-success" href="@Url.Action("Unir-Recibo","Pagamento", new {id = @Model.Id})">
									<i class="fas fa-link"></i> Unir Recibos
								</a>
								<a class="btn btn-app bg-yellow" href="@Url.Action("Extrato","Pagamento", new {id = @Model.Id})">
									<i class="fas fa-chart-line"></i> Extracto
								</a>

								
								<div class="">
									<div class="card-header">
										@* <h3 class="card-title text-center text-bold">SALDO</h3> *@
									</div>
									<div class="card-body">
                                        <table class="table table-bordered stripe">
                                            <thead>
                                                <tr>
													<td colspan="3" class="text-center text-bold bg-cyan">SALDO</td>
                                                </tr>
												<tr>
													<th class="text-left" style="width: 50px">Data</th>
													<th class="text-left">Recibo</th>
													<th class="text-left">Valor</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var saldo in ViewBag.Saldo)
												{
													<tr role="row" class="">
														<td class="text-left">@saldo.DataPagamento.ToString("dd/MM/yyyy")</td>
														<td class="text-left">@saldo.Recibo</td>
														<td class="text-left">@saldo.Valor</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>

								<div class="">
									<div class="card-header">
									</div>
									<div class="card-body">
										<table class="table table-bordered stripe">
											<thead>
												<tr>
													<td colspan="3" class="text-center text-bold bg-cyan">PAGAMENTOS POR REGULARIZAR</td>
												</tr>
												<tr>
													<th class="text-left">Descrião</th>
													<th class="text-left">Mês</th>
													<th class="text-left">Valor (KZ)</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var itens in ViewBag.Itens)
												{
													<tr role="row" class="">
														<td class="text-left">@itens.Descricao</td>
														<td class="text-left">@itens.CodPeriodo</td>
														<td class="text-left">@itens.Valor</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>

							</div>

							<!--Administrativa-->

							<div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
								
								<a class="btn btn-app bg-success" href="/Apoio/Criar/@Model.Id">
									<i class="fas fa-hands-helping"></i> Registar Apoio
								</a>

								<div class="">
									<div class="card-header">
										@* <h3 class="card-title text-center text-bold">APOIOS</h3> *@
									</div>
									<div class="card-body">
										<table class="table table-bordered stripe">
											<thead>
												<tr>
													<td colspan="3" class="text-center text-bold bg-cyan">APOIOS</td>
												</tr>
												<tr>
													<th class="text-left" style="width: 50px">Data</th>
													<th class="text-left">Descrição</th>
													<th class="text-left">Valor</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var itens in ViewBag.ItemApoio)
												{
													<tr role="row" class="">
														<td class="text-left">@itens.DataApoio.ToString("dd/MM/yyyy")</td>
														<td class="text-left">@itens.NomeBeneficio</td>
														<td class="text-left">@itens.Valor</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>

							</div>

							<!--Configurações-->

							<div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
								<a class="btn btn-app bg-info" href="#" onclick="abrirModalAgregado('@Model.Id')" data-toggle="modal" data-target="#">
									<i class="fas fa-group"></i> Alterar senha
								</a>

								<a class="btn btn-app bg-info" href="#" onclick="abrirModalCategoria('@Model.Id')" data-toggle="modal" data-target="#alterarCategoria">
									<i class="fas fa-group"></i> Mudar categoria
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!----=Modal------>


<!-----------Criar Pagamento---------------->

<div class="modal fade" id="adicionarPagamento" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="pagamentoLabel">Registar Pagamento</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!--Corpo do Modal-->
			<div class="modal-body">
				<div class="">
					<input type="hidden" id="SocioId">
				</div>
				<div class="form-group">
					<label class="control-label">Nº do Recíbo</label>
					<input type="text" id="Recibo" class="form-control" placeholder="Digite o nº do recíbo">
				</div>

				<div class="form-group">
					<label>Descrição do pagamento</label>
					<input type="text" id="Descricao" class="form-control" placeholder="Digite uma descrição para o pagamento">
				</div>

				<div class="form-group">
					<label>Valor (KZ)</label>
					<input type="text" id="Valor" class="form-control" placeholder="Digite o valor do pagamento">
				</div>

				<div class="form-group">
					<label>Data do pagamento</label>
					<input type="date" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="DataPagamento" class="form-control" />
				</div>

				<div class="">
					<input type="hidden" value="@DateTime.Now" id="dataCriacao">
				</div>

				<div class="">
					<input type="hidden" value="true">
				</div>
				<br />
				<div class="modal-footer">
					<button type="button" onclick="AdicionarPagamento()" class="btn btn-success waves-effect"> Adicionar</button>
					<a role="button" class="btn btn-link waves-effect" data-dismiss="modal"> Cancelar</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Alterar categoria -->
<div class="modal fade customscroll mCustomScrollbar _mCS_4 mCS_no_scrollbar" id="alterarCategoria" tabindex="-1" role="dialog" style="">
	<div id="mCSB_4" class="mCustomScrollBox mCS-dark-2 mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
		<div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Adicionar grupo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Fechar Modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body pd-0">
						<input type="hidden" id="IdSocio" value="@Model.Id" />
						<div>
							<label class="control-label">Categoria atual</label>
							<select disabled id="categoriaAtualId" class="form-control">
								<option value="@ViewBag.CategoriaId">@ViewBag.CategoriaNome</option>
							</select>
						</div>
						<div>
							<label class="control-label">Nova categoria</label>
							<select id="novaCategoriaId" class="form-control">
								@foreach (var item in ViewBag.Cate)
								{
									<option value="@item.Id">@item.Nome</option>
								}
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="EditarCategoria()">Alterar</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!--Script-->
@section Scripts{
	<script>

		function EditarCategoria() {

			var id = $("#IdSocio").val();

			if (!ValidarModalEditar()) {
				return;
			}
			else {
				$('#loading-overlay').show();
				$.ajax({
					type: "POST",
					url: "/Socio/MudarCategoria",
					data: {
						SocioId: $("#IdSocio").val(),
						NovaCategoria: $("#novaCategoriaId").val()
					},
					success: function (result) {
						if (result.substring(0, 1) == "x") {
							Notificar("error", "Erro!", result);
							return false;
						}
						setTimeout(function () {
							$('#loading-overlay').hide();
							Swal.fire({
								icon: "success",
								title: "Sucesso!",
								text: result,
								showConfirmButton: false,
								timer: 2500
							}).then((result) => {
								window.location = "/Socio/Details/"+id;
							});
						}, 2500);
					},
					error: function (result) {
						$('#loading-overlay').hide();
						Notificar("error", "Erro!", result);
					}
				});
			}
		}

		function ValidarModalEditar() {
			if ($("#novaCategoriaId").val() === $("#categoriaAtualId").val()) {
				$("#novaCategoriaId").focus();
				Notificar("error", "Erro!", "O Sócio pertence a esta categoria.");
				return false;
			}
			return true;
		}

		function NotificarErro(icone, titulo, mensagem) {

			$('#loading-overlay').hide();
			Swal.fire({
				icon: icone,
				title: titulo,
				text: mensagem,
				showConfirmButton: false,
				iconSize: "10px",
				timer: 2500
			});
		}

	</script>
}
