@using CPF_CACL.GestaoSocio.Aplication.ViewModel;

@model IEnumerable<CPF_CACL.GestaoSocio.Aplication.ViewModel.SocioViewModel>

@{
    ViewData["Title"] = "Lista de Sócios";
}

<div id="loading-overlay" style="display: none;">
    <div id="loading-circle">
        <i class="fas fa-circle-notch fa-spin"></i> Carregando...
    </div>
</div>

<div class="row espaco">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body cabecalho">
                <div class=" container col-12 col-md-12 col-lg-12">
                    <!--Para abrir o Modal-->
                    <div id="PlaceHolderHere"></div>

                    <!--Para abrir o Modal Add Agregado-->
                    <div id="modalContainer"></div>

                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-startcol-12 col-md-12 col-lg-12 ">
                            <h3 class="card-title testev">Listagem de Socios</h3>
                            <a class="btn btn-success ml-auto testev" asp-controller="Socio" asp-action="Create"><i class="dw dw-add-user" style="margin-right: 1em;"></i> Novo Sócio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="margem-container card-body">
                <div class="margens col-12 col-md-12 col-lg-12">
                    <div class="text-center col-12 col-md-12 col-lg-12">
                        <table class="table table-responsive stripe teste table-hover col-12 col-md-12 col-lg-12" style="--num-colunas: 6;" id="myDataTable">
                            <thead class="navbar-blue">
                                <tr>
                                    <th scope="col">#COD</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">BI</th>
                                    <th scope="col">Data de Nascimento</th>
                                    <th scope="col">Estado Civil</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (SocioViewModel socio in Model)
                                    {
                                        <tr role="row" class="">
                                            <th scope="row">@socio.Codigo</th>
                                            <td class="table-plus sorting_1" tabindex="0">@socio.Nome</td>
                                            <td class="table-plus sorting_1" tabindex="0">@socio.BI</td>
                                            <td class="table-plus sorting_1" tabindex="0">@socio.DataNascimento</td>
                                            <td class="table-plus sorting_1" tabindex="0">@socio.EstadoCivil</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" href="/Socio/Details/@socio.Id"><i class="dw dw-eye"></i> Detalhes</a>
                                                        <a class="dropdown-item" href="#" onclick="abrirModalAgregado('@socio.Id')"><i class="dw dw-group"></i>Add Agregado</a>
                                                        <a class="dropdown-item" href="" onclick="SetSocio('@socio.Id', '@socio.Nome', '@socio.BI', '@socio.DataNascimento')" data-toggle="modal" data-target="#editarSocio"><i class="dw dw-edit2"></i> Editar</a>
                                                        <a class="dropdown-item" href="#" onclick="SetSocio('@socio.Id', '@socio.Nome', '@socio.BI', '@socio.DataNascimento')" data-toggle="modal" data-target="#eliminarSocio"><i class="dw dw-delete-3"></i> Eliminar</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>