@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] | GEST-PREV</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome/css/all.min.css" />
    <link href="~/dist/css/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />

    <!--Vendor-->
    <link href="~/vendors/styles/icon-font.min.css" rel="stylesheet" />
    <link href="~/vendors/styles/core.css" rel="stylesheet" />
    <link href="~/vendors/styles/style.css" rel="stylesheet" />

    <!--SweetAlert2-->
    <link rel="stylesheet" type="text/css" href="~/plugins/sweetalert2/sweetalert2.min.css" />

    <!-- Outros estilos -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />

</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="/Socio/Home/Index" class="navbar-brand">
                    <img src="../../dist/img/AdminLTELogo.png" alt="GEST-PREV Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GEST-PREV</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/Socio/Home/Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Área Administrativa</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="/Socio/Apoio/Solicitar" class="dropdown-item">Solicitar Apoio</a></li>
                                <li><a href="@Url.Action("ExtratoApoio","Apoio", new {id = @HttpContextAccessor.HttpContext.Session.GetString("userId"), area = "Socio"})" class="dropdown-item">Consultar Apoios</a></li>
                                <li><a href="/Socio/Declaracao/Solicitar" class="dropdown-item">Solicitar Declaração</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Área Financeira</a>
                            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                                <li><a href="@Url.Action("Extrato","Financeiro", new {id = @HttpContextAccessor.HttpContext.Session.GetString("userId"), area = "Socio"})" class="dropdown-item">Extrato Financeiro</a></li>
                                <li><a href="#" class="dropdown-item">Pagamentos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="Socio/Contacto/Index" class="nav-link">Contactos</a>
                        </li>
                    </ul> 
                    <!-- Right navbar links -->
                    <ul class=" navbar-nav ml-auto">

                        <!-- Notifications Dropdown Menu -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" style="width: 40px;">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-warning navbar-badge">0</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-header">0 Notificações</span>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i> Nenhuma notificação encontrada
                                    @* <span class="float-right text-muted text-sm">3 mins</span>  *@
                                </a>
@*                                 <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> 8 pedidos de amizade
                                    <span class="float-right text-muted text-sm">12 hours</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-file mr-2"></i> 3 novas entradas
                                    <span class="float-right text-muted text-sm">2 dias</span>
                                </a> *@
                                <div class="dropdown-divider"></div>
                                @* <a href="#" class="dropdown-item dropdown-footer">Visualizar todas as notificações</a> *@
                            </div>
                        </li>
                        <!--Menu de Login/Logout-->
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="fas fa-user-tie"></i> @HttpContextAccessor.HttpContext.Session.GetString("nome")
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item azul" title="Perfil"><i class="dw dw-user"></i>  Perfil</a>
                                <form action="/Acesso/Logout" method="post">
                                    <button class="dropdown-item" title="Sair" type="submit"><i class="dw dw-logout"></i> Sair</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>

               
            </div>
        </nav>
        <!-- /.navbar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Corpo da Página Web -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>


        <footer class="main-footer">
            <strong>Copyright &copy; 2023 - Gest-Prev</strong>
            Gestão de previdência social.
            <div class="float-right d-none d-sm-inline-block">
                <b>Versão</b> 1.0.0
            </div>
        </footer>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!--Trabalhar com as notificação-->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <script src="~/js/datatables.min.js"></script>


    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/jquery/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/plugins/jquery/messages_pt_pt.js"></script>
</body>
</html>
