@using CPF_CACL.GestaoSocio.Aplication.ViewModel; 

@* @using CPF_CACL.GestaoSocio.Domain.Entities;*@
@* @model IEnumerable< TipoPagamentoViewModel > *@

@model IEnumerable<TipoPagamentoViewModel>

@{
    ViewData["Title"] = "Listagem de Tipos de Pagamento";
}


<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-primary" asp-controller="TipoPagamento" asp-action="Create">Adicionar novo Tipo</a>
    </div>

    <br />

    <h1 class="display-4">Listagem de Tipos de Pagamentos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data Criação</th>
                <th scope="col">Status</th>
                <th scope="col">Data Actualização</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TipoPagamentoViewModel contacto in Model)
                {
                    <tr>
                        <th scope="row">@contacto.Id</th>
                        <td>@contacto.Nome</td>
                        <td>@contacto.DataCriacao</td>
                        <td>@contacto.Status</td>
                        <td>@contacto.DataAtualizacao</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-primary" asp-route-id="@contacto.Id" asp-controller="TipoPagamento" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contacto.Id" asp-controller="TipoPagamento" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
