@using CPF_CACL.GestaoSocio.Aplication.ViewModel;

@* @using CPF_CACL.GestaoSocio.Domain.Entities;*@
@* @model IEnumerable< TipoPagamentoViewModel > *@

@model IEnumerable<MunicipioViewModel>

@{
    ViewData["Title"] = "Listagem de Municipio";
}





<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-body">
                <div class="row container"> 

                    <!--Para abrir o Modal-->
                    <div id="PlaceHolderHere"></div>

                    <div class="text-center">

                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="button" class="btn btn-outline-primary" data-toggle="ajax-modal" data-target="#municipio" data-url="@Url.Action("Create")"><i class="fa fa-plus"></i> Adicionar Novo</button>
                            @* <a role="button" data-toggle="ajax-modal" data-target="#municipio" data-url="@Url.Action("Create")" class="btn btn-primary">Adicionar novo Municipio</a> *@
                        </div>
                        <br />

                        <h1 class="display-6">Listagem de Municipios</h1>

                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Data Criação</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Data Actualização</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (MunicipioViewModel contacto in Model)
                                    {
                                        <tr>
                                            <th scope="row">@contacto.Id</th>
                                            <td>@contacto.Nome</td>
                                            <td>@contacto.DataCriacao</td>
                                            <td>@contacto.Status</td>
                                            <td>@contacto.DataAtualizacao</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a role="button" class="btn btn-primary" asp-route-id="@contacto.Id" asp-controller="Municipio" asp-action="Editar">Editar</a>
                                                    <a role="button" class="btn btn-danger" asp-route-id="@contacto.Id" asp-controller="Municipio" asp-action="ApagarConfirmacao">Apagar</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>



                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->